Summary: Package providing dummy sh
Name: dummysh
Version: 1.0.0
Release: 1
License: MIT
Group: CMS GEM DAQ Project
# Source: ""
AutoReqProv: no
Provides: bash sh /bin/sh /bin/bash

%description
This package provides a dummy bash and sh for installation of RPMs on the CTP7

# %prep

# %setup -q

%build

%install

%clean


%files

%dir

#%doc MAINTAINER ChangeLog README

%changelog
* Thu Apr  4 2019 Jared Sturdy <sturdy@cern.ch> - 
- Initial build.

